h5{ color: yellow; }
/* CSS 주석 */
/* (html)마크업 에 스타일 적용 문법 */
/* 
    선택자 { 속성명 : 속성값; 속성명 : 속성값; }
    선택자 종류
        1. * : 와일드카드(전체)
        2. h4 : 특정마크업명
        3. .class : 특정클래스명 지정     ( 복수 식별 ) 
        4. #id : 특정아이디명 지정        ( 단일 식별 )

    선택자 우선순위( 만약에 동일한 속성이 중복이면 )
        * < 특정마크업 < .className < #id 
        - 만일 동일한 수준이면 아래에 구성한 CSS 적용한다.
        - <마크업 style="CSS문법"> 우선 적용된다.
*/
*{ color: brown; }
h6{ color: aqua; }
.구역1{ color : beige; }
#구역2{ color : black; }
#구역2{ color: tomato; }
/* 자식선택자 : 상위선택자 > 자식선택자 */
div > h3{  color: green; }

/* 자손선택자 : 상위선택자 하위선택자 */
div h3{ background-color: aqua ;}

/* 복수선택자 : , 이용한 선택자 2개 이상 작성 */
h3 , h4{ color: grey; }

/* 다양한 선택자 제공 */
html > body > div > ol > li{ }
/* vs */
#이름1{ }

/* 누구를{ 무엇을 : 어떻게; } */
/* 속성값 뒤로 ;(세미콜론) 닫는다(구분) */
.title{
    font-family: "궁서";    /* 글꼴 */
    font-size: 12px;        /* 글자 크기 */
    font-style: italic;     /* 글자 기울기 */
    font-weight: bold;      /* 글자 진하게 */
}
/* 웹폰트 : 눈누/구글폰트 홈페이지 에서 웹폰트 코드 복사해서 붙여놓기. */
@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
.본문구역{
    font-family: 'GMarketSans'; /* 웹폰트 글꼴 */
    color : red;              /* 글자 색상 */
    word-spacing: 10px;         /* 단어간격(어간) */
    letter-spacing: 5px;        /* 글자간격(자간) */
    line-height: 160%;          /* 줄간격 , %백분위 */
}
.작성자{
    text-align: center;         /* 텍스트 가로정렬 : left center right */
    text-decoration: underline overline line-through ;
    /* underline : 밑줄 , overline 윗줄 , line-through 취소선 */
    text-shadow: 5px 3px 5px blue;
    /* x축( +오른쪽 -왼쪽) y축( +아래 -위 ) 흐림정도 색상 */
    /* 색상 표현 방법 */
    color : green;  /* 방법1 : 색상명 */
    color : rgb( 0, 255, 0); /* 방법2 : R(레드)G(그린)B(블루) 0~255 조합 */
    color : rgba(0, 255, 0, 0.8 ); /* a(알파) 투평도 */
    color : #008000; /* 방법3 : 헥스코드(*백엔드 권장) */ 
}