/* CSS 주석처리 
    선택자{ 속성명 : 속성값; 속성명 : 속성값; }
*/
/* *전체선택자 */
*{
    border : solid 3px red;  /* 테두리 : 선종류 선굵기 선색상 */
    padding: 10px; /* 안쪽여백 */
}
/* .클래스선택자 */
.box1{
    border-top : solid 1px orange; /* 위쪽 테두리 */
    border-right: dashed 2px blue; /* 오른쪽 테두리 */
    border-left: dotted 3px black; /* 왼쪽 테두리 */
    border-bottom: double 4px green; /* 아래쪽 테두리 */
    border-radius: 5px 10px 15px 20px ; /* 테두리 둥근모서리 */
    box-shadow : 3px 3px 1px red; /* 그림자 : x축(-+) y축(-/+) 흐름정도 색상 */
    text-align: center; /* 구역내 텍스트 가로 정렬 */
    width: 100px; /* 가로 사이즈 */
    height: 100px; /* 세로 사이즈 */
}
.img1{ width: 100px; } /* 이미지 사이즈 조정 */
.box2{ text-align: center; } /* 구역내 입력상자 가로 정렬 */
/* 자식선택자 > */
.box2 > input{ 
    width: 100px; height: 30px; 
    border-radius: 10px;
}
.box3{
    padding: 10px ; /* 안쪽여백 : 구역테두리 기준으로 안쪽여백 */
    margin: 10px; /* 바깥여백 : 구역테두리 기준으로 바깥여백 */
}
.box4{
    padding: 10px 15px 20px 25px ; /* 위,오른쪽,아래,왼쪽 순서*/
    margin : 10px 20px; /* 위/아래 , 왼/오른쪽 */
}
.box5{
    margin: 0 auto; /* 바깥여백의 왼/오른쪽을 auto 설정 */
    width: 50px; /* 가로 사이즈, 주의할점 : 생략시 100% */
    text-align: center; /* 구역내 컨텐츠 가로 정렬 */
    color : red;                   /* 글꼴 색상 */
    background-color: beige ;     /* 구역 배경 색상 */
}
.s1{
    display : inline; /* spna,a 등등 마크업 기본값 */
    width: 100px; height: 100px; /* 구역사이즈 설정 불가*/
    padding: 20px; /* 왼/오른쪽만 적용 */
    margin: 20px;  /* 왼/오른쪽만 적용 */
}
.s2{
    display: block; /* div,h 등등 마크업 기본값 */
    width: 100px; height: 100px ;
    padding: 20px; margin: 20px;
}
.s3{ 
    display: inline-block; /* input 등등 마크업 기본값 */
    width: 100px; height: 100px;
    padding: 20px; margin: 20px;
}
.s4{
    display: none; /* 숨기기/표시안함 */
}
/* 복수선택자: , 구분하여 여러개 선택자 */
.box6 , .box7{
    width: 500px; padding: 20px;
}
/* box-sizing : content-box : 컨텐츠 */
.box6{ box-sizing: content-box; }

/* box-sizing : border-box : 컨텐츠+안쪽여백 (권장) */
.box7{ box-sizing: border-box; }
